@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.container{
  background-color:lightgray;
  //height: 100%; 
}
*{
  font-family: 'Open Sans', 'Arial', sans-serif;
  margin: 0 0
}
html, body{
  height: 100%;
  width: 100%; 
}