
.spinner{
  padding-top:50%;
  padding-left: 25%;
}

.container-private{
  padding:19px 0px 0px 0px;
  h2{
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
  }

}
.container-list-search{
  width: 100%;
}
.container-blank{
  padding-top: 10%;
}
.container-food{
  margin:0 0 ;
  width: 100%;
  padding:6% 0% 1% 0%; 
  font-size: 20px;
  p{
    text-align: center;
    padding: 0 0.8rem 0.3rem 0.3rem;
  }
  
}
.recipe-title{
  font-size: 22px;
  font-weight: 900;
}
.container-health-label{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  padding: 0.5rem 1rem 0.9rem 2.1rem;
  width: 85%;
  span{
    color:#2da6bb;
  }
  
  p{
    padding: 0 0% 0 1%;
  }
}
.container-image {
img{
  width: 100%;
  box-shadow: 0px 46px 94px 0  rgba(0, 0, 0, 0.1607843137254902);
  margin-bottom:1rem;
  //0 0 88px 0
}
hr{
  width: 50%;
}
}
span {
  color: #2da6bb;
}
.container-icon-card{
  display: flex;
  padding: 1% 0% 0% 1%;
  //width: 98%;
  span {
    font-size: 25px;
  }
}
.container-icon-card-dasboard{
  display: flex;
  padding: 1rem 2rem 1 2rem;
  justify-content: space-between;
  //width: 98%;
  span {
    font-size: 25px;
  }
}


.btn-view-recipe{
  padding: 13% 11% 13% 15%;
  border:solid 3px #2da6bb;
  background-color: transparent;
  border-radius: 0.25rem;
  text-decoration: none;
  span{
  font-size: 1.3rem;
  color: #2da6bb;

  }
  p{
    width: 60%;
  }
  a:visited{
    color: black;
  }
}

.container-btn-view-and-fav{
  display: flex;
  justify-content: space-around;

}
.btn-fav{
  padding: 11% 12% 11% 12%;
  border:solid 3px #2da6bb;
  background-color: transparent;
  border-radius: 0.25rem;
  span{
    font-size:1.3rem;
    color: #2da6bb;
  }
  img{
    width: 40%;
  }
}
.container-favorite{
  padding-top:18px;
  padding-bottom: 89px;
  h2{
    text-align: center;
    font-weight: lighter;
  }
}
.btn-recipe{
  padding: 2% 10% 2% 10%;
  border:solid 3px #2da6bb;
  background-color: transparent;
  border-radius: 0.25rem;
  span{
    font-size:1.3rem;
    color: #2da6bb;
  }
}
.btn-delete-fav{
  padding: 2% 10% 2% 10%;
  border:solid 3px #2da6bb;
  background-color: transparent;
  border-radius: 0.25rem;
  span{
    font-size:1.3rem;
    color: #2da6bb;
  }

}

.container-btn-recipe{
  padding: 0% 10% 0% 10%;
  display: flex;
  justify-content: space-between;
  span{
    font-size: 25px;
  }
}
.container-view-fav{
  display: flex;
  justify-content: space-around;
}
.btn-fav-list{
  padding: 11% 11% 11% 15%; 
  border:solid 3px #2da6bb;
  background-color: transparent;
  border-radius: 0.25rem;
  text-decoration: none;
  span{
  font-size: 1.3rem;
  color: #2da6bb;
}
}

.container-btn-fav-dashboard{
  padding: 0% 0% 0% 10%;
  position: absolute;
  top:62%;
  left: 70%;
  img{
    width: 70%;
    box-shadow: none;
  }
}
.btn-fav-dashboard{
  padding-left: 10%;
  background-color: transparent;
  border:none;
}

.container-notify-fav-dashboard{
  height: 10%;
  background-color: lightgrey;
  color: #2da6bb;
  position:fixed;
  width: 100%;
  opacity: 0.9;
  h3{
    font-size: 1.2rem;
    padding-left: 2%;
    font-weight: lighter;
    padding: 5% 0% 0% 5%;
  }
}
