.container-box{
  //padding:10%;
  width: 32%
}
.container-form{
  display: flex;
  //padding:0% 2% 0% 0%;
 }
 .container-text-storage{
   padding: 0% 5% 0% 0%; 
   input{
     height: 2rem;
     background-color: #c8cbce63;
     width: 70%;
   }
   label{
     display: block;
   }
 }
 .btn-add-food{
   padding: 5% 3% 5% 3%;
 }
 .container-btn-add{
   padding: 5% 0% 0%  0%;
 }
 .btn-counter-plus{
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius: 0.25rem;
  border:solid 3px #2da6bb;
  background-color: transparent;
   span{
     font-size:1rem;
     text-align: center;
   }
 }

 .btn-counter-minus{
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius: 0.25rem;
  border:solid 3px #2da6bb;
  background-color: transparent;
  span{
    font-size:1rem;
    text-align: center;
  }
}
 .control{
   display: flex;
 }
 .container-btn-counter-plus{
   padding-right: 15%;
 }
 li span{
   font-size:18px;
   color: black;
   padding-right: 5%;
 }
 .main-container-foodbox{
   display: block;
 }
 .btn-delete-food{
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  border-radius: 0.25rem;
  border:solid 3px #2da6bb;
  background-color: transparent;
  span{
    font-size: 0.8rem;
    text-align: center;
    color:#2da6bb;
  }
 }