.search {
  max-width: 100%;
  padding: 5px 0 4px 0;
  label{
    text-align: center;
  }
  form{
    width: 92%;
  }
  h2 {
    text-align: center;
    padding: 22px 0 4px 0;
    font-size: 25px;
    font-weight: lighter;
  }
  h3{
    font-weight: lighter;
    padding-left: 7%
  }
  #search-bar{
    max-width: 100%;
  }
}
.container-searchPage{
  max-width: 100%;
  padding-bottom: 20%;
}
.ui-form{
  display:flex;
  padding-top:2%;
}

.btn-search{
  padding: 2px 48px 2px 48px;
  border:solid 3px #2da6bb;
  background-color: transparent;
  border-radius: 0.25rem;
}
.container-time{
  display: flex;
  padding-bottom: 10%;
  input {
    padding-right:10px; 
    width: 80%;
  }
}

.container-calories{
  display: flex;
  padding: 2% 0% 1% 7%;
  padding-bottom: 8%;
  input{
    width: 6.5rem;
    margin-right: 9%;
    border-bottom: lightgray solid 3px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.160784);
    background-color: transparent;
    border: grey solid 3px;
    padding: 4% 2% 1% 0%;
    font-size: 1.1rem;
    width: 80%;
  }
  label{
    padding-right: 2%;
    color:#7d7d7d;
  }
}
.container-health{
  display: flex;
  justify-content: center;
  
  label {
    display: block;
    color: #7d7d7d;
  }
  
  .floatBlock {
    margin: 0 1.81em 0 0;
  }
  
  .labelish {
    color:#7d7d7d;
    margin: 0;
  }
  
  .healthOptions {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    break-before: always;
    margin: 0 0 1% 0;
    padding-left: 7%;
  }
  .timeOptions{
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      break-before: always;
      margin: 0 0 3em 0;
  }
 
}

.centerInput{
  padding-right: 10%;
  border:none;
  background-color: #c8cbce63;
  border-bottom: lightgray solid 3px;
  width: 85%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.160784);
  background-color: transparent;
  border: grey solid 3px;
  
}
.container-input-search{
  padding-bottom: 20%;
  
  label{
    font-size: 20px;
    text-align: center;
  }
}


.container-child-searchbar{
  padding-left: 7%;
  input {
    height: 10%;
  }
}
.container-btn-search{
  padding:0% 0 0 32%;
  p{
    font-size: 25px;
    text-align: center;
    color: #2da6bb;
  }
}
input[type="radio"]{
  height: 2rem;
}
.msg-error{
  padding-top: 5%;
  h2{
    text-align: center;
    font-size: 1.3rem;
    color: #2da6bb;
  }
}