.container-signup{
  max-width: 100%;
  background-color: #fafafa;
  padding-bottom: 15%;
  h2{
    text-align: center;
    padding: 0% 0% 5% 0;
  }
}


.form-signup{
  width: 90%;
  align-content: center;
   border-radius: 10px;
   justify-content: center;
   margin-left:5%;
   padding-top:7%;
   display: flex;
}
.centerInput{
  padding-right: 10%;
  border:none;
}
.container-form{
  display: flex;
}
.ui-form-signup {

    display:flex;
    padding-top:2%;
  
}
.ui-form-signup input {  
  font-size: 1.3rem;
  height: 3rem;
  border: none;
  padding: 5% 11% 2% 5%;
  border-bottom: lightgray solid 1px;
  width: 85%; 
  border-radius: 10px;
  //padding-bottom: 10%;
  text-align: center;
}

.container-input-signup{
  padding-bottom: 5%;
  //display: flex;
}
.container-logo-sign{
  padding: 8% 27%;
}
.text-signup{
  text-align: center;
  padding-top:5%; 
  a{
    text-decoration: none;
  }
}

  .container-btn-signup{
    padding:4% 0 0 5%;
    span{
      font-size: 25px;
      text-align: center;
    }
  }

  .btn-signup {
    border-radius: 0.25rem;
    padding: 12px 129px 12px 119px;
    border:none;
  }
  .btn-signup p {
    color:#2da6bb;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .container-input-signup{
    padding-bottom: 6%;
    input{
      background-color: #c8cbce63;
      //height: 10%;
    }
    label{
      font-size: 20px;
      text-align: center;
    }
  }